/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.phpintel
application/vendor
application/public/storage
application/.env
assets/files
assets/files_local
assets/img
fileupload.zip
data.zip
